{% extends 'base.html' %}

{% block content %}
<h1>AGENDA VIRTUAL</h1>
<a href="{{ url_for('create') }}" class="btn btn-primary">NOVO AGENDAMENTO</a>
<table class="table">
    <thead>
        <tr>
            <th>Criar pedido</th>
            <th>Prcurar pedido</th>

        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.service }}</td>
            <td>
                <a href="{{ url_for('update', id=item.id) }}" class="btn btn-warning">Edit</a>
                <a href="{{ url_for('delete', id=item.id) }}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}